<!-- <div id="container">
  <strong>{{ name }}</strong>
  <p>
    Explore
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://ionicframework.com/docs/components"
      >UI Components</a
    >
  </p>
</div> -->

<ion-toolbar collapse="condense">
  <ion-button fill="clear" size="small" slot="start">
    <div class="circle-icon">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-button>
  <ion-title slot="start">784720536</ion-title>
  <ion-buttons slot="end">
    <ion-button class="btn-white">
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
    <ion-button class="btn-white">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>


