<app-explore-container></app-explore-container>

<ion-content>
  <div class="welcome-text">
    <h2>Ma Ligne</h2>
  </div>

  <ion-card class="main-card">
    <ion-grid>
      <ion-row class="credit">
        <ion-col size="12">
          <ion-row>
            <ion-col size="12">
              <ion-button fill="clear" expand="block" class="grouped-card btn">
                <div class="left-section">
                  <ion-button class="btn" fill="clear" size="small"><ion-icon name="swap-vertical-outline"></ion-icon></ion-button>
                </div>
                <div class="right-section">
                  <ion-button class="btn" fill="clear" size="small"><ion-icon name="eye-off-outline"></ion-icon></ion-button>
                  <ion-button class="btn" fill="clear" size="small"><ion-icon name="caret-forward-outline"></ion-icon></ion-button>
                </div>
              </ion-button>
            </ion-col>                      
            <ion-col size="12">
              <div class="card-section">
                <h3>Credit recharge</h3>
                <p>- - -</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="historique">
        <ion-button fill="clear" expand="block" class="full-width-button">
          <div class="left-section">
            <ion-icon name="time-outline"></ion-icon>
            <h6>Suivi conso détaillé</h6>
          </div>
          <div class="right-section">
            <h6 class="btn">Accéder</h6> <ion-icon class="btn" name="caret-forward-outline"></ion-icon>
          </div>
        </ion-button>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="main-card">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-row class="sargal">
            <ion-button fill="clear" expand="block" class="full-width-button">
              <div class="left-section">
                <ion-icon name="gift-outline"></ion-icon>
                <h5>Sargal 165 Pts</h5>
              </div>
              <div class="right-section">
                <ion-button class="btn" fill="clear" size="small"><ion-icon name="eye-off-outline"></ion-icon></ion-button>
                <ion-button class="btn" fill="clear" size="small"><ion-icon name="caret-forward-outline"></ion-icon></ion-button>
              </div>
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div class="section-title">
    <h4>Mes favoris</h4>
    <ion-button fill="clear" size="small" class="customize-button">Personnaliser <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-button expand="block" class="card-button color-icon">
          <div class="icon-label">
            <ion-icon name="receipt-outline"></ion-icon>
            <ion-label>Paiement</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" class="card-button color-icon">
          <div class="icon-label">
            <ion-icon name="qr-code-outline"></ion-icon>
            <ion-label>Scanner & QR</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" class="card-button color-icon">
          <div class="icon-label">
            <ion-icon slot="start" name="wallet-outline"></ion-icon>
            <ion-label>Recharge crédit</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" class="card-button color-icon">
          <div class="icon-label">
            <ion-icon slot="start" name="card-outline"></ion-icon>
            <ion-label>Achat pass</ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="section-title">
    <h4>Ma conso</h4>
    <ion-button fill="clear" size="small" class="customize-button">Personnaliser <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-button expand="block" class="card-button w-150 l-color">
          <div class="icon-label">
            <h5>Rechargement</h5>
            <h4>1 CFA</h4>
            <h6>Expire le 31/12</h6>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="section-title">
    <h4>Mes Services</h4>
    <ion-button fill="clear" size="small" class="customize-button">Voir tout <ion-icon name="arrow-down-outline"></ion-icon></ion-button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-button expand="block" class="card-button color-icon">
          <div class="icon-label">
            <ion-icon name="receipt-outline"></ion-icon>
            <ion-label>Paiement</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" class="card-button color-icon">
          <div class="icon-label">
            <ion-icon name="qr-code-outline"></ion-icon>
            <ion-label>Scanner & QR</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" class="card-button color-icon">
          <div class="icon-label">
            <ion-icon slot="start" name="wallet-outline"></ion-icon>
            <ion-label>Recharge crédit</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" class="card-button color-icon">
          <div class="icon-label">
            <ion-icon slot="start" name="card-outline"></ion-icon>
            <ion-label>Achat pass</ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
