ion-content {
    background: #222;
    color: white;
    text-align: center;
  }

  .bottom-border{
    border-bottom: 3px solid white;
  }

  .ion-no-background{
    background: none !important;
  }

  .ion-no-shadow{
    box-shadow: none !important;
  }

  .c-white{
    color: white;
  }