<ion-header class="ion-no-border bottom-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" size="medium"  (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Vos retraits en cours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="dark">
  <ion-card class="ion-no-background ion-no-shadow">
    <ion-card-content>
     <p class="c-white">Vous n'avez pas de retrait en cours.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
